# Specify filepatterns you want git to ignore.
*.sublime-workspace
*.sublime-project
*.bbl
*.aux
*.bib
*.bbl
*.bbl
*.blg
*.log
*.pdf
*.out
*.dvi
*.toc
*.synctex.gz
*.tdo
thesis_paths.tex

thesis.sublime-project
